# Ignorar o ambiente virtual
venv
venv/

# Ignorar variáveis de ambientes
.env

# Media
media
media/

# Ignore migrations folder and files inside it, but keep __init__.py
**/migrations/*
!**/migrations/__init__.py

# Ignorar arquivos do sistema operacional (como DS_Store no macOS)
.DS_Store

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar banco de dados
db.sqlite3